<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KL___Game_of_Life_Program.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KL___Game_of_Life_Program.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>SeaShell</value>
            </setting>
            <setting name="gridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="cellColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="UniverseSizeHeight" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="UniverseSizeWidth" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="TimingInterval" serializeAs="String">
                <value>100</value>
            </setting>
        </KL___Game_of_Life_Program.Properties.Settings>
    </userSettings>
</configuration>